<%= form_for(@inv_type) do |f| %>
  <% if @inv_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inv_type.errors.count, "error") %> prohibited this inv_type from being saved:</h2>

      <ul>
      <% @inv_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.text_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :buy %><br />
    <%= f.text_field :buy %>
  </div>
  <div class="field">
    <%= f.label :sell %><br />
    <%= f.text_field :sell %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
