<h1><%= @app.name %></h1>

<%= "#{@updates} updates." if @updates > 0 %>

<div class="form">
  <%= form_tag @app, :method => :get do %>

    <%= text_field_tag :type_22, 'Arkonor', :class => 'inactive' %>
    <%= text_field_tag :type_1223, 'Bistot', :class => 'inactive' %>
    <%= text_field_tag :type_1225, 'Crokite', :class => 'inactive' %>
    <%= text_field_tag :type_1232, 'Dark Ochre', :class => 'inactive' %>
    <%= text_field_tag :type_1229, 'Gneiss', :class => 'inactive' %>
    <%= text_field_tag :type_21, 'Hedbergite', :class => 'inactive' %>
    <%= text_field_tag :type_1231, 'Hemorphite', :class => 'inactive' %>
    <%= text_field_tag :type_1226, 'Jaspet', :class => 'inactive' %>
    <%= text_field_tag :type_20, 'Kernite', :class => 'inactive' %>
    <%= text_field_tag :type_1227, 'Omber', :class => 'inactive' %>
    <%= text_field_tag :type_18, 'Plagioclase', :class => 'inactive' %>
    <%= text_field_tag :type_1224, 'Pyroxeres', :class => 'inactive' %>
    <%= text_field_tag :type_1228, 'Scordite', :class => 'inactive' %>
    <%= text_field_tag :type_19, 'Spodumain', :class => 'inactive' %>
    <%= text_field_tag :type_1230, 'Veldspar', :class => 'inactive' %>

    <%= submit_tag 'Compute' %>

  <% end %>
</div>


<table>
  <tr>
    <th colspan="2">Ore</th>
  </tr>
  <tr style="background-color: #222;">
    <td>Volume</td>
    <td class="value msup3" id="volume">0.0</td>
  </tr>
  <tr>
    <td style="color: red;">Time</td>
    <td class="value s">0</td>
  </tr>
  <tr>
    <td style="color: red;">Buy value</td>
    <td class="value isk" id="ore_buy">0.00</td>
  </tr>
  <tr>
    <td style="color: red;">Sell value</td>
    <td class="value isk" id="ore_sell">0.00</td>
  </tr>

  <tr>
    <th colspan="2">Minerals</th>
  </tr>
  <% InvType.find_all_by_type_id(34..40).each do |mineral| %>
    <tr>
      <td><%= mineral.name %></td>
      <td class="value" id="type_<%= mineral.type_id %>">0</td>
    </tr>
  <% end %>
  <tr>
    <td>Volume</td>
    <td class="value msup3" id="refine_volume">0.0</td>
  </tr>
  <tr>
    <td>Unrefinable</td>
    <td class="value msup3" id="refine_excess">0.0</td>
  <tr>
  <tr>
    <td>Dodixie sell</td>
    <td class="value isk" id="refine_sell">0.00</td>
  </tr>
  <tr style="background-color: #222;">
    <td>Dodixie buy</td>
    <td class="value isk" id="refine_buy">0.00</td>
  </tr>

  <tr>
    <th colspan="2">Compression</th>
  </tr>
  <tr style="background-color: #222;">
    <td style="color: red;">Volume</td>
    <td class="value msup3" id="compression_volume">0.0</td>
  </tr>
  <tr>
    <td>Excess</td>
    <td class="value msup3" id="compression_excess">0.0</td>
  </tr>
  <tr>
    <td style="color: red;">Time</td>
    <td class="value s" id="compression_time">0.00</td>
  </tr>
  <tr>
    <td style="color: red;">Heavy Water</td>
    <td class="value" id="compression_heavy_water">0</td>
  </tr>
  <tr>
    <td style="color: red;">Strontium</td>
    <td class="value" id="compression_strontium_clathrates">0</td>
  </tr>
  <tr>
    <td style="color: red;">Expenses</td>
    <td class="value isk" id="compression_expenses">0.00</td>

  <tr>
    <th colspan="2">POS Refining</th>
  </tr>
  <tr>
    <td style="color: red;">35%</td>
    <td class="value s" id="refining_standard">0.00</td>
  </tr>
  <tr>
    <td style="color: red;">75%</td>
    <td class="value s" id="refining_medium">0.00</td>
  </tr>
  <tr style="background-color: #222;">
    <td style="color: red;">75%</td>
    <td class="value s" id="refining_intensive">0.00</td>
  </tr>
</table>
