<h1><%= @app.name %></h1>

<%= "#{@updates} updates." if @updates > 0 %>

<div class="form">
  <%= form_tag @app, :method => :get do %>

    <% @inputs.each_pair do |key, value| %>
      <img src="http://image.eveonline.com/InventoryType/<%= key %>_32.png" />
      <%= text_field_tag "type_#{key}", value, :class => 'inactive' %>
    <% end %>

    <%= submit_tag 'Compute' %>

  <% end %>
</div>

<% if @app.id == 1 %>

<div class="category">
  <table>
    <thead>
      <tr>
        <th>Ore</th>
        <th class="value msup3" id="ore">0.0</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Volume</td>
        <td class="value msup3" id="volume">0.0</td>
      </tr>
      <tr>
        <td>Hauling</td>
        <td class="value s" id="haul_time">0.0</td>
      </tr>
      <tr>
        <td style="color: red;">Buy value</td>
        <td class="value isk" id="ore_buy">0.00</td>
      </tr>
      <tr>
        <td style="color: red;">Sell value</td>
        <td class="value isk" id="ore_sell">0.00</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="category">
  <table>
    <thead>
      <tr>
        <th>Minerals</th>
        <th class="value isk" id="minerals">0.00</th>
      </tr>
    </thead>
    <tbody>
      <% InvType.find_all_by_type_id(34..40).each do |mineral| %>
        <tr>
          <td><%= mineral.name %></td>
          <td class="value" id="type_<%= mineral.type_id %>">0</td>
        </tr>
      <% end %>
      <tr>
        <td>Volume</td>
        <td class="value msup3" id="refine_volume">0.0</td>
      </tr>
      <tr>
        <td>Unrefinable</td>
        <td class="value msup3" id="refine_excess">0.0</td>
      <tr>
      <tr>
        <td>Dodixie sell</td>
        <td class="value isk" id="refine_sell">0.00</td>
      </tr>
      <tr class="default">
        <td>Dodixie buy</td>
        <td class="value isk" id="refine_buy">0.00</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="category">
  <table>
    <thead>
      <tr>
        <th>Mining</th>
        <th class="value hrs" id="mining">0.0</th>
      </tr>
    </thead>
    <tbody>
      <tr class="default">
        <td style="color: yellow;">Time (150k m&sup3;/h)</td>
        <td class="value hrs" id="mining_time">0.0</td>
      </tr>
      <tr>
        <td style="color: yellow;">Sell / hour</td>
        <td class="value isk" id="mining_sell">0.00</td>
      </tr>
      <tr>
        <td style="color: yellow;">Buy / hour</td>
        <td class="value isk" id="mining_buy">0.00</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="category">
  <table>
    <thead>
      <tr>
        <th>Compression</th>
        <th class="value msup3" id="compression">0.0</th>
      </tr>
    </thead>
    <tbody>
      <tr class="default">
        <td style="color: red;">Volume</td>
        <td class="value msup3" id="compression_volume">0.0</td>
      </tr>
      <tr>
        <td>Excess</td>
        <td class="value msup3" id="compression_excess">0.0</td>
      </tr>
      <tr>
        <td style="color: red;">Time</td>
        <td class="value s" id="compression_time">0.00</td>
      </tr>
      <tr>
        <td style="color: red;">Heavy Water</td>
        <td class="value" id="compression_heavy_water">0</td>
      </tr>
      <tr>
        <td style="color: red;">Strontium</td>
        <td class="value" id="compression_strontium_clathrates">0</td>
      </tr>
      <tr>
        <td style="color: red;">Expenses</td>
        <td class="value isk" id="compression_expenses">0.00</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="category">
  <table>
    <thead>
      <tr>
        <th>POS Refining</th>
        <th class="value s">0.0</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="color: red;">35%</td>
        <td class="value s" id="refining_standard">0.00</td>
      </tr>
      <tr>
        <td style="color: red;">75%</td>
        <td class="value s" id="refining_medium">0.00</td>
      </tr>
      <tr class="default">
        <td style="color: red;">75%</td>
        <td class="value s" id="refining_intensive">0.00</td>
      </tr>
    </tbody>
  </table>
</div>


<% elsif @app.id == 2 %>
<!-- @types = [30375,30376,30377,30370,30378,30371,30372,30373,30374] -->

<div class="category">
  <table>
    <thead>
      <tr>
        <th>Gas</th>
        <th class="value isk" id="gas">0.0</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="color: red;">Volume</td>
        <td class="value msup3" id="volume">0.0</td>
      </tr>
      <tr>
        <td style="color: red;">Hauling</td>
        <td class="value s" id="haul_time">0.0</td>
      </tr>
      <tr class="default">
        <td>Buy value</td>
        <td class="value isk" id="gas_buy">0.00</td>
      </tr>
      <tr>
        <td style="color: red;">Sell value</td>
        <td class="value isk" id="gas_sell">0.00</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="category">
  <table>
    <thead>
      <tr>
        <th>Reservoirs</th>
        <th class="value isk" id="sites">(Instrumental) 0.0</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="color: red;">Barren (C50, C60)</td>
        <td class="value isk" id="barren">0.0</td>
      </tr>
      <tr>
        <td style="color: red;">Token (C60, C70)</td>
        <td class="value isk" id="token">0.0</td>
      </tr>
      <tr>
        <td style="color: red;">Minor (C70, C72)</td>
        <td class="value isk" id="minor">0.0</td>
      </tr>
      <tr>
        <td style="color: red;">Ordinary (C72, C84)</td>
        <td class="value isk" id="ordinary">0.0</td>
      </tr>
      <tr>
        <td style="color: red;">Sizeable (C84, C50)</td>
        <td class="value isk" id="sizeable">0.0</td>
      </tr>
      <tr>
        <td style="color: red;">Bountiful (C28, C32)</td>
        <td class="value isk" id="bountiful">0.0</td>
      </tr>
      <tr>
        <td style="color: red;">Vast (C32, C28)</td>
        <td class="value isk" id="vast">0.0</td>
      </tr>
      <tr>
        <td style="color: red;">Vital (C540, C320)</td>
        <td class="value isk" id="vital">0.0</td>
      </tr>
      <tr class="default">
        <td style="color: red;">Instrumental (C320, C540)</td>
        <td class="value isk" id="instrumental">0.0</td>
      </tr>
    </tbody>
  </table>
</div>

<% end %>
